<!DOCTYPE html>
<html>
<head th:replace = "fragments :: html_head" />
	 
<body>

	<!--Header-->
	<div th:replace = "fragments :: header" />
	<!--Header-->
	
<div class="imgoverlay">
    <div class="wrapper">
        <!------Card------>
            <div class="card  m-0">

                <!-- Card image -->
                <div class="view overlay">
                <img class="card-img-top" src="img\Apache rtr 180.jpg"
                    alt="Card image cap">
                </div>
            
                <!-- Card content -->
                <div class="card-body">
            
                <!-- Title -->
                <h4 class="card-title">Apache RTR 180</h4>
                </div>
            
            </div>

            <div class="card  m-0">
                <div class="view overlay">
                    <img class="card-img-top" src="img\apache rtr 200.jpg"
                        alt="Card image cap">
                </div>
                
                    <!-- Card content -->
                    <div class="card-body">
                
                    <!-- Title -->
                    <h4 class="bikescard -title">Apache RTR 200</h4>
                    </div>
                
            </div> 

            <div class="card   m-0">
                <div class="view overlay">
                    <img class="card-img-top" src="img\bajaj avenger street 220.jpg"
                        alt="Card image cap">
                </div>
                
                    <!-- Card content -->
                <div class="card-body">
                
                    <!-- Title -->
                    <h4 class="card-title">Bajaj Avenger Street 220</h4>
                    </div>
                
            </div>

            <div class="card   m-0">
                <div class="view overlay">
                    <img class="card-img-top" src="img\bajaj pulsor 200ns.png"
                        alt="Card image cap">
                    </div>
                
                    <!-- Card content -->
                    <div class="card-body">
                
                    <!-- Title -->
                    <h4 class="card-title">Bajaj Pulsor 200ns</h4>
                    </div>
                
            </div>

            <div class="card   m-0">
                <div class="view overlay">
                <img class="card-img-top" src="img\bajaj pulsor 220.jpg"
                    alt="Card image cap">
                </div>
            
                <!-- Card content -->
                <div class="card-body">
            
                <!-- Title -->
                <h4 class="card-title">Bajaj Pulsor 220</h4>
                </div>
            
            </div>

            <div class="card   m-0">
                <div class="view overlay">
                <img class="card-img-top" src="img\royal enfield classic 350.jpg"
                    alt="Card image cap">
                </div>
            
                <!-- Card content -->
                <div class="card-body">
            
                <!-- Title -->
                <h4 class="card-title">Royal Enfield Classic 350</h4>
                </div>
            
            </div>

            <div class="card   m-0">
                <div class="view overlay">
                <img class="card-img-top" src="img\royal enfield thunderbird 350.jpg"
                    alt="Card image cap">
                </div>
            
                <!-- Card content -->
                <div class="card-body">
            
                <!-- Title -->
                <h4 class="card-title">Royal Enfield Thunderbird 350</h4>
                </div>
            
            </div>

            <div class="card   m-0">
                <div class="view overlay">
                <img class="card-img-top" src="img\ktm duke 200.jpg"
                    alt="Card image cap">
                </div>
            
                <!-- Card content -->
                <div class="card-body">
            
                <!-- Title -->
                <h4 class="card-title">KTM Duke 200</h4>
                </div>
            
            </div>

            <div class="card   m-0">
                <div class="view overlay">
                <img class="card-img-top" src="img\Honda Activa 6G.jpg"
                    alt="Card image cap">
                </div>
            
                <!-- Card content -->
                <div class="card-body">
            
                <!-- Title -->
                <h4 class="card-title">Honda Activa 6G</h4>
                </div>
            
            </div>

            <div class="card   m-0">
                <div class="view overlay">
                <img class="card-img-top" src="img\tvs jupiter.png"
                    alt="Card image cap">
                </div>
            
                <!-- Card content -->
                <div class="card-body">
            
                <!-- Title -->
                <h4 class="card-title">TVS Jupiter</h4>
                </div>
            
            </div>
        <!------Card------>
</div>
</div>
<div th:replace = "fragments :: footer" />
</body>
</html>