<!DOCTYPE html>
    <html lang="en">
       <head th:replace = "fragments :: html_head" />
         
    <body>
	
	<!--Header-->
	<div th:replace = "fragments :: header" />
	<!--Header-->
	
	<div class="imgoverlay">
	
        <div class="pricing">
            <!------Card------>
            <div class="card pricecard m-0">

                <!-- Card image -->
                <div class="image">
                <img class="priceimg" src="img\Apache rtr 180.jpg"
                    alt="Card image cap">
                </div>
            
                <!-- Card content -->
                <div class="pricebody">
            
                <!-- Title -->
                <h5>Apache RTR 180</h5>
                <span>Within City:</span>
                <span class="pricecolor">₹75</span>
                <br>                

                </div>
            
            </div>

            <div class="card pricecard m-0">
                <div class="image">
                    <img class="priceimg" src="img\apache rtr 200.jpg"
                        alt="Card image cap">
                </div>
                
                    <!-- Card content -->
                    <div class="pricebody">
                
                    <!-- Title -->
                    <h5>Apache RTR 200</h5>
                    <span>Within City:</span>
                    <span class="pricecolor">₹85</span>
                    <br>
                    
                    </div>
                
            </div> 

            <div class="card pricecard  m-0">
                <div class="image">
                    <img class="priceimg" src="img\bajaj avenger street 220.jpg"
                        alt="Card image cap">
                </div>
                
                    <!-- Card content -->
                <div class="pricebody">
                
                    <!-- Title -->
                    <h5>Bajaj Avenger Street 220</h5>
                    <span>Within City:</span>
                    <span class="pricecolor">₹90</span>
                    <br>
                   
                    </div>
                
            </div>

            <div class="card pricecard  m-0">
                <div class="image">
                    <img class="priceimg" src="img\bajaj pulsor 200ns.png"
                        alt="Card image cap">
                    </div>
                
                    <!-- Card content -->
                    <div class="pricebody">
                
                    <!-- Title -->
                    <h5>Bajaj Pulsor 200ns</h5>
                    <span>Within City:</span>
                    <span class="pricecolor">₹90</span>
                    <br>
                   
                    </div>
                
            </div>

            <div class="card pricecard  m-0">
                <div class="image">
                <img class="priceimg" src="img\bajaj pulsor 220.jpg"
                    alt="Card image cap">
                </div>
            
                <!-- Card content -->
                <div class="pricebody">
            
                <!-- Title -->
                <h5>Bajaj Pulsor 220</h5>
                <span>Within City:</span>
                <span class="pricecolor">₹90</span>
                <br>
               
                </div>
            
            </div>

            <div class="card pricecard  m-0">
                <div class="image">
                <img class="priceimg" src="img\royal enfield classic 350.jpg"
                    alt="Card image cap">
                </div>
            
                <!-- Card content -->
                <div class="pricebody">
            
                <!-- Title -->
                <h5>Royal Enfield Classic 350</h5>
                <span>Within City:</span>
                <span class="pricecolor">₹100</span>
                <br>
            
                </div>
            
            </div>

            <div class="card pricecard  m-0">
                <div class="image">
                <img class="priceimg" src="img\royal enfield thunderbird 350.jpg"
                    alt="Card image cap">
                </div>
            
                <!-- Card content -->
                <div class="pricebody">
            
                <!-- Title -->
                <h5>Royal Enfield Thunderbird 350</h5>
                <span>Within City:</span>
                <span class="pricecolor">₹100</span>
                <br>
               
                </div>
            
            </div>

            <div class="card pricecard  m-0">
                <div class="image">
                <img class="priceimg" src="img\ktm duke 200.jpg"
                    alt="Card image cap">
                </div>
            
                <!-- Card content -->
                <div class="pricebody">
            
                <!-- Title -->
                <h5>KTM Duke 200</h5>
                <span>Within City:</span>
                <span class="pricecolor">₹90</span>
                <br>
                
                </div>
            
            </div>

            <div class="card pricecard  m-0">
                <div class="image">
                <img class="priceimg" src="img\Honda Activa 6G.jpg"
                    alt="Card image cap">
                </div>
            
                <!-- Card content -->
                <div class="pricebody">
            
                <!-- Title -->
                <h5>Honda Activa 6G</h5>
                <span>Within City:</span>
                <span class="pricecolor">₹50</span>
                <br>
                
                </div>
            
            </div>

            <div class="card pricecard  m-0">
                <div class="image">
                <img class="priceimg" src="img\tvs jupiter.png"
                    alt="Card image cap">
                </div>
            
                <!-- Card content -->
                <div class="pricebody">
            
                <!-- Title -->
                <h5>TVS Jupiter</h5>
                <span>Within City:</span>
                <span class="pricecolor">₹50</span>
                <br>
                
                </div>
            
            </div>
        </div>
        <!------Card------>
</div>       
<div th:replace = "fragments :: footer" />
</body>
</html>